.carousele{
    margin: 10px;
    }
    .carousele div img{
    width: 100%
    }
    body {
        background-image: url('100.jpeg'); 
        background-attachment: fixed;
        background-size: cover;       
        background-repeat: no-repeat;  
        background-position: center;   
        font-family: sans-serif;
        padding: 20px;
    }
p, h2 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #818181;
    text-shadow: 2px 2px 0px #000000;
}

ol {
    background: rgba(20, 20, 20, 0.85);
    padding: 20px;
    border: 3px solid #ff0055;
}

ol li {
    background: #2a2a2a;
    color: #00ffcc;
    padding: 8px;
    margin: 8px 0 0 35px;
    border-left: 4px solid #ff0055;
}

    